<mat-toolbar color="primary" class="side-spacer">
  <mat-toolbar-row>
    <div class="nav-brand">
      <img ngSrc="/brand/logo.png" alt="SoccerFields" height="50" width="50">
      <span>SoccerFields</span>
    </div>

    <span class="nav-spacer"></span>

    <div class="nav-items">
      @if (isSmallScreen) {
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>leaderboard</mat-icon>
        </button>
      } @else {
        <button mat-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>leaderboard</mat-icon>
          <span>Leaderboard</span>
        </button>
      }
    </div>
  </mat-toolbar-row>
</mat-toolbar>
