name: Release Workflow

on:
  push:
    branches:
      - master

jobs:
  build-deploy-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3

      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Install Angular CLI
        run: npm install -g @angular/cli

      - name: Build Angular Project
        run: ng build --base-href https://soccer-fields.danieljancar.dev

      - name: Create CNAME
        run: bash scripts/createCNAME.sh

      - name: Configure Git User
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "gh-actions[bot]"

      - name: Deploy to GitHub Pages
        run: npx angular-cli-ghpages --dir=dist/soccer-fields/browser --no-silent
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
